* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	background: none;

	box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}